<div class="bg-theme mb-0 pt-3 pl-3 pr-3 pb-0">
<form class="rating-form">
  <textarea class="textarea" name="rating-body"></textarea>
  
  <div class="rate pt-2">
    <input type="radio" id="c5" value="5"><label for="c5"></label>
    <input type="radio" id="c4" value="4"><label for="c4"></label>
    <input type="radio" id="c3" value="3"><label for="c3"></label>
    <input type="radio" id="c2" value="2"><label for="c2"></label>
    <input type="radio" id="c1" value="1"><label for="c1"></label>
    <button class="button is-link" type="submit">Rate It</button>
  </div>
  
  
</form>
</div>
<script src='../javascript/add-rating.js'></script>