<div class="block">
  {{#each this.ratings}}
  <div class="block">
    <div class="bg-theme mb-0 pt-5 pl-5 pr-5" style="inline-flex; color:white;">
      {{user.username}} on {{format_date created_at}}

      {{#ifEquals rating_score 1}}
      <span class="fa fa-cookie-bite"</span>
      {{/ifEquals}}

      {{#ifEquals rating_score 2}}
      <span class="fa fa-cookie-bite"></span>
      <span class="fa fa-cookie-bite"></span>
      {{/ifEquals}}
      {{#ifEquals rating_score 3}}
      <span class="fa fa-cookie-bite"></span>
      <span class="fa fa-cookie-bite"></span>
      <span class="fa fa-cookie-bite"></span>
      {{/ifEquals}}
      {{#ifEquals rating_score 4}}
      <span class="fa fa-cookie-bite"></span>
      <span class="fa fa-cookie-bite"></span>
      <span class="fa fa-cookie-bite"></span>
      <span class="fa fa-cookie-bite"></span>
      {{/ifEquals}}
      {{#ifEquals rating_score 5}}
      <span class="fa fa-cookie-bite"></span>
      <span class="fa fa-cookie-bite"></span>
      <span class="fa fa-cookie-bite"></span>
      <span class="fa fa-cookie-bite"></span>
      <span class="fa fa-cookie-bite"></span>
      {{/ifEquals}}
      <div class="text">
        {{rating_comment}}
      </div>
      {{#ifEquals user.username session_user }}
      <div class="pt-2">
        <button id="delete-rating" class="button is-link" type="submit" value="{{id}}">Delete Rating</button>
      </div>
      {{/ifEquals}}
    </div>
    <script src='../javascript/delete-rating.js'></script>
    </section>
    {{/each}}
  </div>