 header nav ul li a i {
    font-size: 2x;
    color:rgb(194, 87, 221) !important;
 }

header {
    padding: 20px 35px 10px 0px;
    border-bottom: solid rgb(85, 85, 153) 5px; 
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    }

header nav ul {
    border-bottom: 0 !important;
}

header nav ul li :hover {
    background: hsl(217, 71%, 53%) !important;
}

.parallax {
    background:url('public/img/fruit-in-water.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1 !important;
    
}

.parallax-2 {
    background:url('public/img/bakery.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -2 !important;
    
}

.bg-image {
    height: 600px;
}

/* @media screen and (max-width: 768px){
    .bg-image {

        display:flex;
        flex-wrap: wrap;
        font-size: 30px;
    }
}

@media screen and (max-width: 575px) {
    .bg-image {

        display:flex;
        flex-wrap: wrap;
        font-size: 20px;
    
    }
} */