<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flavor Express</title>
</head>

<body>
  <header>
    <h1 class="mb-2">
      <span style="font-size: 3rem; color: Tomato;"></i>
        <i class="fas fa-hotdog ml-3 mr-1"></i>
      </span>
      <a href="/" class="is title is spaced">Flavor Express</a>
    </h1>
    <nav class="subtitle tabs is-boxed level-right columns is-5">
     
      <ul class="is-active">
         {{#if loggedIn}}
        <li>
          <a href="/dashboard" class="">
            <span style="font: size 2x;">
              <i class="far fa-comment-dots mr-1"></i>
            </span>Dashboard
          </a>
        </li>
        
        <button id="logout">Logout</button>
        {{else}}
        <li>
          <a href="/login" class="">
            <span>
              <i class="fas fa-sign-in-alt mr-1"></i>
            </span>Login/Sign up
          </a>
        </li> 
        {{/if}}
      </ul>
    </nav>
  </header>
  <main>
    <div>
      {{{body}}}
    </div>
  </main>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>