<div>
  <section class="container">
    <p class="has-text-link is-size-4 mt-3 ml-4">
      Welcome to Flavor Express!
      If you would like to upload your recipes,
      please join our community by signning up.
      You will also be able to leave comments.
    </p>
  </section>
</div>
<main>
  <div>
    <section class="parallax bg-image">
    </section>
  </div>
  <section>
    <div class="parallax-3 bg-image">
      <h3 class="column has-text-primary is-size-2 ml-4">
        Explore more flavors!
      </h3>

    </div>
  </section>

  <section>
    <div class="parallax-4 bg-image">
      <h3 class="column has-text-link is-size-2 ml-4">
        Yummy!
      </h3>
    </div>
  </section>

  <section>
    <div class="parallax-5 bg-image">
      <h3 class="column has-text-primary is-size-2 ml-4">
        Hungry already?
      </h3>
    </div>
  </section>

</main>