<div>
  <section class="container">

    <h3 class="has-text-dark is-size-2 ml-5" style="display: block; text-align: center;">
      Welcome to Flavor Express!
    </h3>
  </section>
</div>
<main>

  <section class="parallax bg-image columns " style="align-items: center;">
    <div class="column home-story is-three-fifths
is-offset-one-fifth bg-theme">
      <p class="has-text-white is-size-3 mt-3 ml-4 ">
        Hungry? Tired of the same food or even worse.....FAST FOOD!?!
        Before you overwhelm yourself with what to cook today, ordering take out or even frustrated
        with the price tag of a curated meal prepping service, try Flavor Express. We have recipes
       made with Express in mind! Our easy to follow directions means no more fiddling with cook books!
        
      
      </p>
    </div>
  </section>


  <section class="parallax-3 bg-image columns" style="align-items: center;">
    <div class="column home-story is-three-fifths
is-offset-one-fifth bg-theme">
      <p class="column has-text-white is-size-3 ml-4">
       Join our growing community! Share your thoughts and expertise! 
       Upload your own recipes! Rate your favorite recipes and interact with other users.
        
      </p>
    </div>
    </div>
  </section>


  <section class="parallax-4 bg-image columns" style="align-items: center;">
    <div class="column home-story is-three-fifths
is-offset-one-fifth bg-theme">
      <p class="column has-text-white is-size-2 ml-4">
         Seasoned Homemade Fries....Medium Rare Steak...MmmmMMmmm! Delicious!
        {{recipes}}
      </p>

    </div>
  </section>


  <section class="parallax-5 bg-image columns" style="align-items: center;">
    <div class="column home-story is-three-fifths
is-offset-one-fifth bg-theme">
      <p class="column has-text-white is-size-2 ml-4">
        What are you waiting for? Join us now!
        
          <a href="/login" class="button has-background-warning mt-2">
            <span>
              <i class="fas fa-sign-in-alt mr-1"></i>
            </span>Sign up
          </a>
        
      </p>

    </div>
  </section>

</main>