    <main>
      <div>
        <section class="container">
          <p class="has-text-link is-size-4 mt-3 ml-4">
            Welcome to Flavor Express! 
            If you would like to upload your recipes,
            please join our community by signning up.
            You will also be able to leave comments.
          </p>
        </section>
      </div>
        <section class="container">
          <h3 class="has-text-link is-size-2 mt-3 ml-4">
              Already a member?
              <button type="submit" class="button is-medium is-primary">Login here</button>
          </h3>         
        </section>
        
        <section  class="hero">
            <h4 class=" is-size-1">Pictures</h4>
            <h4 class=" is-size-1">Pictures</h4>
            <h4 class=" is-size-1">Pictures</h4>
            <h4 class=" is-size-1">Pictures</h4>
            <h4 class=" is-size-1">Pictures</h4>
            <h4 class=" is-size-1">Pictures</h4>
            <h4 class=" is-size-1">Pictures</h4>
            <h4 class=" is-size-1">Pictures</h4>
            <h4 class=" is-size-1">Pictures</h4>
        </section>
    </main>
    <footer class="footer has-background-primary">
      <div class="content has-text-centered is-size-5">
        <p>
          Created by <a href="https://github.com/kcheykim">Kosal Cheykim</a>,
          <a href="https://github.com/mockcomic">Kurtis Hight</a>,
          <a href="https://github.com/jrera1796">Jose Rivera</a>,
          <a href="https://github.com/ricky0320">Ching Leung</a>.
          The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
        </p>
      </div>
    </footer>