<div>
  <section class="container">

    <h3 class="has-text-dark is-size-2 ml-5" style="display: block; text-align: center;">
      Welcome to Flavor Express!
    </h3>
  </section>
</div>
<main>

  <section class="parallax bg-image columns" style="align-items: center;">
    <div class="column is-three-fifths
is-offset-one-fifth bg-theme">
      <p class="has-text-white is-size-3 mt-3 ml-4">
         Hungry? Too busy to cook and you're staring at the next McDonald… Stop!
        Before you hit up another fast food restaurants or get frustrated
        with the price tag of hello fresh, try our apps. We have recipes
        that gives hint on how you can prepare homemade food much faster
        without the huge price tag. Go ahead, explore the flavors of Flavor Express!
      
      </p>
    </div>
  </section>


  <section class="parallax-3 bg-image columns" style="align-items: center;">
    <div class="column is-three-fifths
is-offset-one-fifth bg-theme">
      <p class="column has-text-white is-size-3 ml-4">
       Feeling bored of cooking the same food everyday? Share your recipes and thoughts
        to our community and try some of our recipes out! Your valuable opinion
        and comments are important to us!
      </p>
    </div>
    </div>
  </section>


  <section class="parallax-4 bg-image columns" style="align-items: center;">
    <div class="column is-three-fifths
is-offset-one-fifth bg-theme">
      <p class="column has-text-white is-size-2 ml-4">
          If you'd like to upload your recipes,
        join our community by signning up.
        You will also be able to leave comments rate recipes.
        
      </p>

    </div>
  </section>


  <section class="parallax-5 bg-image columns" style="align-items: center;">
    <div class="column is-three-fifths
is-offset-one-fifth bg-theme">
      <p class="column has-text-white is-size-2 ml-4">
        What are you waiting for? Join us now!
        
          <a href="/login" class="button has-background-warning mt-2">
            <span>
              <i class="fas fa-sign-in-alt mr-1"></i>
            </span>Sign up
          </a>
        
      </p>

    </div>
  </section>

</main>