

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/1e89e92bcf.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

    <section class="hero is-primary is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-5-tablet is-4-desktop is-3-widescreen">

              <form action="" class="login-form">
                <div class="field">
                  <label for="email-login" class="label">Email</label>
                  <div class="control has-icons-left">
                    <input type="email" placeholder="e.g. Tasty@gmail.com" class="input" id="email-login" />
                    <span class="icon is-small is-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label for="password-login" class="label">Password</label>
                  <div class="control has-icons-left">
                    <input type="password" class="input" id="password-login" />
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                </div>
                <div class="field">
                  <button type="submit" class="login button is-success" >
                    Login
                  </button>
                </div>
              </form>
              <form class="signup-form">
                <div class="field">
                  <label for="username-signup" class="label">Username</label>
                  <div class="control has-icons-left">
                    <input type="text" class="input" id="username-signup" />
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label for="username-signup" class="label">Email</label>
                  <div class="control has-icons-left">
                    <input type="email" placeholder="e.g. Tasty@gmail.com" class="input" id="email-signup" />
                    <span class="icon is-small is-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <label for="password-signup" class="label">Password (8 characters long)</label>
                  <div class="control has-icons-left">
                    <input type="password" class="input" id="password-signup" />
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                </div>
                <div class="field">
                  <button type="submit" class="sign-in button is-success">
                    Sign Up
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="./javascript/login.js"></script>